html {
    width: 100vw;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: 'Oswald', sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    overflow-x: hidden;
}

/* Navbar */

nav {
    width: 100vw;
    /* width: calc(100vw - (2 * 12px)); */
    background-color: white;
    /* margin-left: 12px; */
    padding: 10px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    /* top: 15px; */
    /* border-radius: 10px; */
    border-bottom: 3.5px solid var(--secondary-color);
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    z-index: 2;
}

nav > .logo {
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(22, 63, 113);
}

nav > .logo > img {
    height: 40px;
}

nav > .hamburger {
    /* display: none; */
    padding: 22px 13px;
    background-color: var(--primary-color);
    border-radius: 8px;
}

nav > .links {
    width: calc(100% - 20px);
    background-color: white;
    margin: 10px 0 0 10px;
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 10px;
    opacity: 0;
    box-shadow: 0px 0px 0px rgb(0, 0, 0);
    transition: opacity 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    z-index: 1;
}

nav > .links.show {
    opacity: 1;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

nav > .links > .nav-link {
    text-decoration: none;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}

nav > .links > .nav-link.active,
nav > .links > .nav-link:hover {
    color: var(--secondary-color);
}

nav .cta-button {
    background-color: var(--primary-color) !important;
    color: white !important;
}

nav > .cta-button {
    display: none;
}

@media only screen and (min-width: 992px) {
    nav {
        justify-content: space-between;
    }
    nav > .hamburger {
        display: none;
    }
    nav > .links {
        width: auto;
        background-color: unset;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        position: static;
        opacity: 1;
    }

    nav > .links > .cta-button {
        display: none;
    }

    nav > .cta-button {
        display: block;
    }
}

/* Custom arrow */

.custom-arrow {
    height: 6px;
    width: 6px;
    border-top: 2px solid var(--secondary-color);
    border-right: 2px solid var(--secondary-color);
    transform: rotate(45deg);
}