@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url("./variables.css");
@import url("./reset.css");
@import url("./base.css");
@import url("../vendor/corbzhamburger/hamburger.css");

.hero {
    height: 100vh;
    width: 100vw;
    /* background-color: brown; */
    background-image: url(../images/hero-bg.svg);
    background-position: center;
    background-size: auto 220%;
    background-repeat: no-repeat;
    position: relative;
}

.hero > .hero-content {
    width: calc(100vw - var(--page-x-deadzone) * 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    top: calc(var(--mobile-nav-height) + 35%);
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero > .hero-content > .hook {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.hero > .hero-content > .hook .content {
    text-align: center;
}

.hero > .hero-content > .hook > .title {
    font-size: 2rem;
    font-weight: 500;
    font-weight: bolder;
    text-transform: uppercase;
    color: #fafbfc;
}

.hero > .hero-content > .hook > .title.mini {
    font-size: 0.8rem;
    word-spacing: unset;
    letter-spacing: 1px;
}

.hero > .hero-content > .hook > .description {
    font-family: var(--secondary-font);
    margin-top: 10px;
    color: var(--low-text-color);
    line-height: 1.4;
}

.hero > .hero-content > .hero-graphic {
    width: 250px;
    position: absolute;
    top: 120%;
    left: 50%;
    filter: drop-shadow(15px 20px 8px rgba(0, 0, 0, 0.5));
    transform: translateX(-50%);
}

.hero > .hero-content > .hook > .cta-buttons {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cta-button {
    padding: 12px 20px;
    display: block;
    text-decoration: none;
    color: #fafbfc;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    cursor: pointer;
}

.cta-button.primary {
    background-color: var(--secondary-color);
    padding-left: 30px;
    padding-right: 30px;
    color: black;
}

.cta-button.super {
    background-color: var(--primary-color);
    color: white;
}

.cta-button.secondary {
    border: 2px solid var(--secondary-color);
}

/* Hero desktop */
@media (min-width: 768px) {
    .hero > .hero-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }

    .hero > .hero-content > .hero-graphic {
        width: 300px;
        position: static;
        transform: none;
    }

    .hero > .hero-content > .hook {
        max-width: 525px;
    }

    .hero > .hero-content > .hook .content {
        text-align: left;
    }

    .hero > .hero-content > .hook > .cta-buttons {
        margin-top: 35px;
        justify-content: flex-start;
    }
}

@media (min-width: 992px) {
    .hero {
        background-size: auto 180%;
    }

    .hero > .hero-content {
        margin-top: 0;
        position: relative;
        top: 50%;
    }

    .hero > .hero-content > .hook > .title {
        font-size: 3rem;
    }

    .hero > .hero-content > .hook > .title.mini {
        font-size: 1rem;
    }

    .hero > .hero-content > .hook > .description {
        font-size: 1.1rem;
    }

    .hero > .hero-content > .hero-graphic {
        width: 600px;
    }
}

main {
    width: 100vw;
}

/* Services */

.services {
    width: 100vw;
    margin-top: var(--page-y-spacing);
    padding: 0 var(--page-x-deadzone);
}

.services > .title-wrapper {
    /* background-color: blue; */
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.services > .title-wrapper > .title {
    font-size: 2rem;
    font-weight: 500;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    color: var(--primary-text-color);
}

.services > .title-wrapper > .title.mini {
    font-size: 1rem;
    word-spacing: unset;
    letter-spacing: 4px;
    color: var(--secondary-text-color);
}

.services > .title-wrapper > .description {
    margin-top: 12px;
    color: var(--secondary-text-color);
    line-height: 1.4;
    font-family: var(--secondary-font);
    text-align: center;
}

.services > .card-wrapper {
    width: 100%;
    margin-top: var(--page-y-spacing);
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--page-y-spacing);
}

.services > .card-wrapper > .card {
    width: 100%;
    background-color: var(--primary-color);
    padding: 20px;
    position: relative;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
}

.services > .card-wrapper > .card:hover {
    background-color: black;
    transform: scale(1.1) translateY(-20px);
    box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.5);
}

.services > .card-wrapper > .card > svg {
    height: 45px;
    fill: white;
}

.services > .card-wrapper > .card > .title {
    color: white;
}

.services > .card-wrapper > .card > .description {
    margin-top: 16px;
    color: var(--low-text-color);
    line-height: 1.4;
    font-family: var(--secondary-font);
    font-weight: lighter;
    font-size: 0.9rem;
}

.services > .card-wrapper > .card > a {
    width: fit-content;
    margin-top: 16px;
    padding-right: 4px;
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: var(--secondary-color);
}

.services > .card-wrapper > .card > a > svg {
    width: 1rem;
    fill: var(--secondary-color);
}

/* Tablet cards */
@media only screen and (min-width: 768px) {
    .services > .card-wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
}

@media only screen and (min-width: 1024px) {
    .services > .card-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Contact section */
section.contact {
    width: 100vw;
    margin-top: var(--section-y-spacing);
    padding: 0 var(--page-x-deadzone);
}

section.contact > a {
    max-width: 465px;
    margin-left: auto;
    margin-right: auto;
}

section.contact > .container > .ceo {
    max-width: 465px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

section.contact > .container > .ceo > img {
    /* height: 400px; */
    width: 100%;
    margin-top: var(--page-y-spacing);
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

section.contact > .container > .ceo > .info {
    background-color: var(--primary-color);
    padding: 10px;
    position: absolute;
    right: 0;
    bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    font-size: 0.85rem;
    color: var(--low-text-color);
    border-radius: 5px 0 0 5px;
}

section.contact > .container > .ceo > .info > .details > .position {
    font-size: 0.75rem;
}

section.contact > .container > .ceo > .info > img {
    height: 40px;
}

section.contact > .container > .title-wrapper {
    width: 100%;
    margin-top: var(--page-y-spacing);
}

section.contact > .container > .content {
    max-width: 465px;
    margin-top: var(--page-y-spacing);
    margin-left: auto;
    margin-right: auto;
}

section.contact > .container > .content > .title-wrapper > .title {
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
}

section.contact > .container > .content > .title-wrapper > .title.sub {
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: var(--secondary-text-color);
}

.title-reusable {
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
}

.title-reusable.sub {
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: var(--secondary-text-color);
}

section.contact > .container > .content > .title-wrapper > .description {
    margin-top: 12px;
    line-height: 1.4;
    font-family: var(--secondary-font);
    text-align: center;
    color: var(--secondary-text-color);
}

section.contact > .container > .content > .facts {
    width: 100%;
    margin-top: var(--page-y-spacing);
    display: flex;
    flex-direction: column;
    gap: var(--page-y-spacing);
}

section.contact > .container > .content > .facts > div {
    display: flex;
    flex-direction: column;
    gap: var(--page-y-spacing);
}

section.contact > .container > .content > .facts .fact {
    width: 100%;
}

section.contact > .container > .content > .facts .fact > .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    gap: 5px;
}

section.contact > .container > .content > .facts .fact > .title > svg {
    fill: var(--secondary-color);
}

section.contact > .container > .content > .facts .fact > .description {
    width: 100%;
    text-align: center;
    font-family: var(--secondary-font);
}

/* Contact section breakpoints */

@media only screen and (min-width: 768px) {
    section.contact > .container > .content > .facts {
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
    }

    section.contact > .container > .content > .facts > div {
        gap: 30px;
    }

    section.contact > .container > .content > .facts .fact > .title {
        justify-content: flex-start;
    }

    section.contact > .container > .content > .facts .fact > .description {
        text-align: left;
    }
}

@media only screen and (min-width: 1100px) {
    section.contact > .container {
        margin-top: var(--page-y-spacing);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }

    section.contact > .container > .ceo {
        max-width: 50%;
        height: 732px;
        margin: 0;
    }

    section.contact > .container > .ceo > img {
        height: 100%;
        margin-top: 0;
    }

    section.contact > .container > .content {
        max-width: 50%;
        margin: 0;
        margin-top: 0;
    }
}

/* Group-style Pricing */

section.pricing {
    margin-top: var(--section-y-spacing);
    padding: 0 var(--page-x-deadzone);
}

section.pricing > .top {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: var(--page-y-spacing);
}

section.pricing > .offers {
    width: 100%;
    margin-top: var(--page-y-spacing);
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--page-x-deadzone) var(--page-y-spacing);
}

section.pricing > .offers > .card {
    background-color: rgb(247, 247, 247);
    padding: 24px;
    border-radius: 5px;
}

section.pricing > .offers > .card > .title-reusable {
    font-size: 1.6rem;
}

section.pricing > .offers > .card > .title-reusable {
    text-align: left;
}

section.pricing > .offers > .card:nth-child(even) {
    background-color: var(--primary-color);
    color: white;
}

section.pricing > .offers > .card:nth-child(even) > .details > .detail {
    color: var(--low-text-color);
}

section.pricing > .offers > .card > .details {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section.pricing > .offers > .card > .details > .detail {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--secondary-font);
    color: var(--secondary-text-color);
}

section.pricing > .offers > .card > .details > .detail > svg {
    height: 30px;
    width: 30px;
    fill: var(--secondary-color);
}

section.pricing > .offers > .card > .details > .detail > svg.not-included {
    height: 20px;
    width: 20px;
    fill: red;
}

section.pricing > .offers > .card > .price {
    margin-top: calc(var(--page-y-spacing) * 2);
    font-family: var(--primary-font);
    font-size: 3rem;
    font-weight: bold;
}

section.pricing > .offers > .card > .price > span {
    text-transform: capitalize;
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: normal;
    color: var(--secondary-text-color);
}

section.pricing > .offers > .card:nth-child(even) > .price > span {
    color: var(--low-text-color);
}

section.pricing > .offers > .card > a {
    margin-top: var(--page-y-spacing);
}

/* Pricing breakpoints */
@media only screen and (min-width: 768px) {
    section.pricing > .top {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    section.pricing > .top > .title-wrapper > .title-reusable.sub {
        text-align: left;
    }

    section.pricing > .offers {
        margin-top: var(--page-y-spacing);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1200px) {
    section.pricing > .offers {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Group-style portfolio */
section.portfolio {
    margin-top: var(--section-y-spacing);
    padding: 0 var(--page-x-deadzone);
}

section.portfolio > .top {
    display: flex;
    flex-direction: column;
}

section.portfolio > .top > .description {
    font-family: var(--secondary-font);
    text-align: center;
    color: var(--secondary-text-color);
}

section.portfolio > .projects {
    width: 100%;
    margin-top: var(--page-y-spacing);
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--page-x-deadzone) var(--page-y-spacing);
}

section.portfolio > .projects > .project {
    background-color: rgb(247, 247, 247);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
}

section.portfolio > .projects > .project.primary {
    background-color: var(--primary-color);
    color: white;
}

section.portfolio > .projects > .project.primary > .description {
    color: var(--low-text-color);
}

section.portfolio > .projects > .project.primary > a {
    background-color: var(--secondary-color);
    color: black;
}

/* section.portfolio > .projects > .project:nth-child(even)  */

section.portfolio > .projects > .project > img {
    width: 100%;
    border-radius: 5px;
}

section.portfolio > .projects > .project > .title-reusable {
    font-size: 1.5rem;
}

section.portfolio > .projects > .project > .description {
    width: 100%;
    font-family: var(--secondary-font);
    text-align: center;
    color: var(--secondary-text-color);
}

/* Portfolio breakpoints */
@media only screen and (min-width: 768px) {
    section.portfolio > .top {
        flex-direction: row;
        justify-content: space-between;
    }

    section.portfolio > .top > .title-wrapper {
        width: 40%;
    }

    section.portfolio > .top > .title-wrapper > .title-reusable {
        text-align: left;
    }

    section.portfolio > .top > .description {
        width: 50%;
        padding-left: 10%;
        text-align: left;
        border-left: 5px solid var(--primary-color);
    }

    section.portfolio > .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1200px) {
    section.portfolio > .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Call to action bottom */
.cta-wrapper {
    width: 100vw;
    margin-top: var(--section-y-spacing);
    padding: 0 var(--page-x-deadzone);
    display: flex;
    justify-content: center;
    position: relative;
}

.cta-wrapper::before {
    content: "";
    height: 50%;
    width: 100%;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.cta-bottom {
    max-width: 560px;
    background: linear-gradient(to top,rgb(0, 94, 153) 0%, rgba(0, 31, 63, 1) 60%);
    padding: 48px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.cta-bottom > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
    opacity: .08;
    position: absolute;
    z-index: 0;
}

.cta-bottom > .title {
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.9rem;
    line-height: 110%;
    color: white;
}

.cta-bottom > .title.mini {
    margin: 0;
    color: var(--low-text-color);
    font-size: 1rem;
    letter-spacing: 2px;
}

.cta-bottom > .cta-buttons {
    width: 100%;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cta-bottom > .title,
.cta-bottom > .cta-buttons {
    position: relative; /* ensures they respect z-index */
    z-index: 1; /* above the img */
}

.cta-bottom > .cta-buttons > .cta-button {
    width: 100%;
    text-align: center;
}

/* Style footer */
footer {
    width: 100vw;
    background-color: var(--primary-color);
    padding: 100px var(--page-x-deadzone);
}

footer > .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--page-y-spacing);
}

footer > .content > .top {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--page-y-spacing);
}

footer > .content > .top > .logo {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

footer > .content > .top > .logo > img {
    height: 60px;
}

footer > .content > .top > .description {
    color: white;
}

footer > .content > .top > .cta-button {
    width: fit-content;
}

footer > .content > .bottom .title {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
}

footer > .content > .bottom .elements {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer > .content > .bottom .elements > a {
    display: block;
    text-decoration: none;
    color: var(--low-text-color);
    transition: color 0.2s ease-in-out;
}

footer > .content > .bottom .elements > a:hover {
    color: var(--secondary-color);
}

footer > .content > .bottom > .contact > .elements.contact > a:hover, footer > .content > .bottom > .contact > .elements.contact > a:hover > svg {
    color: var(--secondary-color);
    fill: var(--secondary-color);
}

footer > .content > .bottom > .contact {
    margin-top: var(--page-y-spacing);
}

footer > .content > .bottom .elements.contact > .element {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--low-text-color);
}

footer > .content > .bottom .elements.contact > .element > svg {
    width: 18px;
    display: block;
    fill: var(--low-text-color);
}

@media only screen and (min-width: 768px) {

    footer > .content > .bottom {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 50px;
    }

    footer > .content > .bottom .elements {
        gap: 20px;
    }

    footer > .content > .bottom > .contact {
        margin-top: 0;
    }
}

@media only screen and (min-width: 948px) {
    footer > .content {
        flex-direction: row;
        justify-content: space-between;
    }

    footer > .content > .top {
        max-width: 50%;
        gap: 20px;
    }

    footer > .content > .bottom {
        gap: 15vw;
    }
}

/* Socials */

.socials {
    width: 100%;
    /* margin-top: var(--page-y-spacing); */
    background-color: var(--primary-color);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-top: 1px solid var(--low-text-color);
}

.socials > .title {
    color: white;
}

.socials > a {
    display: block;
    text-decoration: none;
}

.socials > a:hover svg {
    fill: var(--secondary-color);
}

.socials svg {
    width: 20px;
    display: block;
    fill: white;
}