:root {
    --mobile-nav-height: 67.6px;
    --page-y-spacing: 25px;
    --page-x-deadzone: 20px;
    --primary-color: rgb(0, 31, 63);
    --secondary-color: rgb(67, 183, 255);
    --primary-text-color: rgb(26, 26, 26);
    --secondary-text-color: rgb(78, 75, 102);
    --low-text-color: rgb(222, 227, 231);
    --secondary-font: 'Source Sans 3', sans-serif;
}

@media only screen and (min-width: 992px) {
    :root {
        --mobile-nav-height: 64px;
        /* --page-y-spacing: 50px; */
        --page-x-deadzone: 50px;
    }
}