@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url("./variables.css");
@import url("./reset.css");
@import url("./base.css");
@import url("../vendor/corbzhamburger/hamburger.css");

.hero {
    height: 100vh;
    width: 100vw;
    /* background-color: brown; */
    background-image: url(../images/hero-bg.svg);
    background-position: center;
    background-size: auto 220%;
    background-repeat: no-repeat;
    position: relative;
}

.hero > .hero-content {
    width: calc(100vw - var(--page-x-deadzone) * 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    top: calc(var(--mobile-nav-height) + 35%);
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero > .hero-content > .hook {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.hero > .hero-content > .hook .content {
    text-align: center;
}

.hero > .hero-content > .hook > .title {
    font-size: 2rem;
    font-weight: 500;
    font-weight: bolder;
    text-transform: uppercase;
    color: #fafbfc;
}

.hero > .hero-content > .hook > .title.mini {
    font-size: 0.8rem;
    word-spacing: unset;
    letter-spacing: 1px;
}

.hero > .hero-content > .hook > .description {
    font-family: var(--secondary-font);
    margin-top: 10px;
    color: var(--low-text-color);
    line-height: 1.4;
}

.hero > .hero-content > .hero-graphic {
    width: 250px;
    position: absolute;
    top: 120%;
    left: 50%;
    filter: drop-shadow(15px 20px 8px rgba(0, 0, 0, 0.5));
    transform: translateX(-50%);
}

.hero > .hero-content > .hook > .cta-buttons {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cta-button {
    padding: 12px 20px;
    display: block;
    text-decoration: none;
    color: #fafbfc;
    text-transform: uppercase;
    /* letter-spacing: 1px; */
    font-weight: 600;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    cursor: pointer;
}

.cta-button.primary {
    background-color: var(--secondary-color);
    padding-left: 30px;
    padding-right: 30px;
    color: black;
}

.cta-button.secondary {
    border: 2px solid var(--secondary-color);
}

/* Hero desktop */
@media (min-width: 768px) {
    .hero > .hero-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }

    .hero > .hero-content > .hero-graphic {
        width: 300px;
        position: static;
        transform: none;
    }

    .hero > .hero-content > .hook {
        max-width: 525px;
    }

    .hero > .hero-content > .hook .content {
        text-align: left;
    }

    .hero > .hero-content > .hook > .cta-buttons {
        margin-top: 35px;
        justify-content: flex-start;
    }
}

@media (min-width: 992px) {
    .hero {
        background-size: auto 180%;
    }

    .hero > .hero-content {
        margin-top: 0;
        position: relative;
        top: 50%;
    }

    .hero > .hero-content > .hook > .title {
        font-size: 3rem;
    }

    .hero > .hero-content > .hook > .title.mini {
        font-size: 1rem;
    }

    .hero > .hero-content > .hook > .description {
        font-size: 1.1rem;
    }

    .hero > .hero-content > .hero-graphic {
        width: 600px;
    }
}

main {
    width: 100vw;
}

/* Services */

.services {
    width: 100%;
    margin-top: var(--page-y-spacing);
    padding: 0 var(--page-x-deadzone);
}

.services > .title-wrapper {
    /* background-color: blue; */
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.services > .title-wrapper > .title {
    font-size: 2rem;
    font-weight: 500;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    color: var(--primary-text-color);
}

.services > .title-wrapper > .title.mini {
    font-size: 1rem;
    word-spacing: unset;
    letter-spacing: 4px;
    color: var(--secondary-text-color);
}

.services > .title-wrapper > .description {
    margin-top: 12px;
    color: var(--secondary-text-color);
    line-height: 1.4;
    font-family: var(--secondary-font);
    text-align: center;
}

.services > .card-wrapper {
    width: 100%;
    margin-top: var(--page-y-spacing);
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--page-y-spacing);
}

.services > .card-wrapper > .card {
    width: 100%;
    background-color: var(--primary-color);
    padding: 20px;
    position: relative;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
}

.services > .card-wrapper > .card:hover {
    background-color: black;
    transform: scale(1.1) translateY(-20px);
    box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.5);
}

.services > .card-wrapper > .card > svg {
    height: 45px;
    fill: white;
}

.services > .card-wrapper > .card > .title {
    color: white;
}

.services > .card-wrapper > .card > .description {
    margin-top: 16px;
    color: var(--low-text-color);
    line-height: 1.4;
    font-family: var(--secondary-font);
    font-weight: lighter;
    font-size: 0.9rem;
}

.services > .card-wrapper > .card > a {
    width: fit-content;
    margin-top: 16px;
    padding-right: 4px;
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: var(--secondary-color);
}

.services > .card-wrapper > .card > a > svg {
    width: 1rem;
    fill: var(--secondary-color);
}

/* Tablet cards */
@media only screen and (min-width: 768px) {
    .services > .card-wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
}

@media only screen and (min-width: 1024px) {
    .services > .card-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}